<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .form-control:focus {
            border-color: #1a1e21 !important;
            box-shadow: 0 0 0 0.25rem rgb(66 70 73 / 50%) !important;
        }
    </style>
</head>

<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <nav class="container">
            <a class="navbar-brand" href="#">Дела</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'list' %}">Список</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add' %}">Добавить</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>